*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Lora','Lato', sans-serif, serif;
    
    

}

#container{
    /* background-color:#000; */
    width:800px;
    height:900px;
    margin:50px auto;
    position: relative;
    border:1px solid #000;
    border-radius:20px;
    
}
 .header{
    width:100%;
    height:150px;
    background:#e7c9bb;
    position: absolute;
    top:50px;
    left:0;
    text-align:right;
    
 }

.right-side {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:30px 20px 0px 40px;
  color:#988982;
}
.right-side div{
    color:rgb(173, 168, 168);
    
}
.side-bar{
  position: absolute;
  width:220px; 
  height:100%;
  background: #6e9b9b; 
  left:30px;
  top:0px;
  z-index:2;
}
.side-bar .img{
    width:220px;
    height:220px; 
    border:2px solid #fff;
    border-radius:50%;
    background-size:cover;
    background-image: url('/cynthia.png') no-repeat;
    
}
 