*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Lora','Lato', sans-serif, serif;
    
    

}

#container{
    /* background-color:#000; */
    width:800px;
    height:900px;
    margin:50px auto;
    position: relative;
    border:1px solid #000;
    border-radius:20px;
    
}
 .header{
    width:100%;
    height:150px;
    background:#e7c9bb;
    position: absolute;
    top:50px;
    left:0;
    text-align:right;
    
 }

.right-side {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:30px 20px 0px 40px;
  color:#2a1f1a;
}
.right-side div{
    color:rgb(173, 168, 168);
    
}
.side-bar{
  position: absolute;
  width:220px; 
  height:100%;
  background: #6e9b9b; 
  left:30px;
  top:0px;
  z-index:2;
}
.side-bar .img{
    width:200px;
    height:200px; 
    border:2px solid #fff;
    border-radius:50%;
    background-size:cover;
    background: url('/facebook.jpg') no-repeat;
    object-fit: cover;
    margin:40px auto;
    
}
.content{
    color:#fff;
    padding:20px 10px;
    
}
h3{
    text-transform: uppercase;
    text-align:center;
    padding-bottom:5px;
}
p{
    font-size:15px;
    line-height:25px;
}
 
.contact{
    color:#fff;
    margin-top:60px;
}
 div a{
    text-decoration:none;
    color:#fff;
    display:flex;
    padding-top:15px;
    font-size:12px;
    justify-content: space-evenly;
    align-items:center;

}
.middle-side{
    position:absolute;
    top:250px;
    left:400px;
    right:0;
    width:50%;


}
 .contents{
 display:flex;
 flex-direction:column;
 padding-top:20px;
}
.middle-side .head{
    display:flex;
    align-items:center;
    text-transform: uppercase;
}
.head .fa-angles-right{
    padding-right:10px;
    color:#6e9b9b;
    font-size:23px;

}
ul{
    list-style: circle;
}